body {
  font-family: 'Roboto Condensed', sans-serif;
  color: #58595b;
}
p {
  margin-bottom: 0;
}
header.header {
  min-height: 40px;
}
textarea.form-control {
  display: block;
  width: 100%;
  min-height: 100px;
  padding: 8px 12px;
  font-size: 13px;
  line-height: 1.6;
  font-family: 'Roboto Condensed', sans-serif;
  color: #58595b;
  font-weight: 300;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #ffffff;
  border-radius: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  resize: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
textarea.form-control:focus {
  color: #58595b;
  background-color: #ffffff;
  border-color: #ffffff;
  outline: none;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
.lesson {
  max-width: 31.875rem;
}
.lesson .lesson-heading {
  font-family: 'Roboto Slab', serif;
  color: #f58220;
  font-size: 0.875rem;
}
.lesson .lesson-heading + .exercise {
  margin-top: 0.9375rem;
}
.exercise .ex-heading {
  font-family: 'Roboto Slab', serif;
  font-size: 0.75rem;
  line-height: 1.25rem;
  padding: 0 0.625rem;
  display: inline-block;
  min-width: 8.75rem;
}
.exercise .ex-body {
  padding: 0.625rem 0.9375rem 0.625rem 0.625rem;
  font-size: 0.6875rem;
  min-height: 1.875rem;
  counter-reset: exercise;
}
.exercise .ex-body .ex-item {
  position: relative;
  padding-left: 0.9375rem;
  counter-increment: section;
}
.exercise .ex-body .ex-item:before {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 700;
  content: counter(section) '. ';
}
.exercise .ex-body p + div {
  margin-top: 0.625rem;
}
.exercise .ex-body ul {
  list-style: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.exercise .ex-body ul li {
  position: relative;
  padding: 0 0 0 1rem;
}
.exercise .ex-body ul li:before {
  position: absolute;
  top: 0.3125rem;
  left: 0;
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  opacity: .7;
  display: block;
}
.exercise .ex-body .form-group {
  margin-bottom: 0.9375rem;
}
.exercise .ex-body textarea.form-control {
  font-size: 0.6875rem;
  line-height: normal;
  padding: 0.625rem 0.625rem;
  border: 0;
  min-height: 1.5rem;
}
.exercise .ex-body textarea.form-control.seventy {
  min-height: 4.375rem;
}
.exercise + .exercise {
  margin-top: 0.625rem;
}
.exercise.exploration .ex-heading {
  color: #ffffff;
  background-color: #892890;
}
.exercise.exploration .ex-body {
  background-color: #f4eff7;
}
.exercise.exploration .ex-body .ex-item:before {
  color: #892890;
}
.exercise.exploration .ex-body .colored {
  color: #892890;
}
.exercise.exploration .ex-body textarea.form-control {
  color: #ffffff;
  background-color: #b78bbf;
}
.exercise.exploration .ex-body ul.colored li:before {
  background-color: #892890;
}
.exercise.landmark .ex-heading {
  color: #ffffff;
  background-color: #f58220;
}
.exercise.landmark .ex-body {
  background-color: #fff6ed;
}
.exercise.landmark .ex-body .ex-item:before {
  color: #f58220;
}
.exercise.landmark .ex-body .colored {
  color: #f58220;
}
.exercise.application .ex-heading {
  color: #ffffff;
  background-color: #0089cf;
}
.exercise.application .ex-body {
  background-color: #eef4fb;
}
.exercise.application .ex-body .ex-item:before {
  color: #0089cf;
}
.exercise.application .ex-body .colored {
  color: #0089cf;
}
.exercise.challenge .ex-heading {
  color: #ffffff;
  background-color: #0db14b;
}
.exercise.challenge .ex-body {
  background-color: #f2f9f2;
}
.exercise.challenge .ex-body .ex-item:before {
  color: #0db14b;
}
.exercise.challenge .ex-body .colored {
  color: #0db14b;
}
